<a href="https://colab.research.google.com/github/datajcthemax/playdata/blob/main/day11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11번째 이야기
- 판다스(Pandas)의 시리즈(Series)와 데이터 프레임(DataFrame)
- VAK 학습 성향 분석
- 미니 프로젝트 팀 빌드

In [111]:
import os
PATH = '/content/drive/MyDrive/datas/'

In [112]:
korea_star_name = os.listdir(PATH)[0]

In [114]:
korea_star_name

'korea-star.csv'

## Series 만들기

In [115]:
import pandas as pd
import numpy as np

In [116]:
# Series는 1차원 벡터임. 열 벡터.
a = [1,2,3,4,5]
se = pd.Series(a)

## DataFrame 만들기

In [117]:
# DataFrame은 2차원 벡터
df = pd.DataFrame(a)
df

   0
0  1
1  2
2  3
3  4
4  5

In [118]:
type(se), type(df)

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [119]:
a = np.random.rand(3,5)
a

array([[0.756476  , 0.1037752 , 0.68565197, 0.34396371, 0.04106544],
       [0.70086019, 0.23867511, 0.75505117, 0.40887675, 0.88822907],
       [0.90576391, 0.20797042, 0.44987175, 0.21137656, 0.79099892]])

## DataFrame 자료구조

In [120]:
# list로 만들기
company = [['삼성', 2000, '스마트폰'],
           ['현대', 2500, '자동차'],
           ['LG', 3000, '건조기']
           ]

In [121]:
company

[['삼성', 2000, '스마트폰'], ['현대', 2500, '자동차'], ['LG', 3000, '건조기']]

In [122]:
df_company = pd.DataFrame(company)

In [123]:
df_company.columns = ['기업명', '매출액', '업종']

In [124]:
df_company

  기업명   매출액    업종
0  삼성  2000  스마트폰
1  현대  2500   자동차
2  LG  3000   건조기

In [125]:
# dict로 만들기 - 키:값 형태로 입력
company_dict = {'기업명':['삼성','현대','LG'],
                '매출액':[2000,2500,3000],
                '업종':['스마트폰','자동차','건조기']                
                }
df_company_dict = pd.DataFrame(company_dict)

In [126]:
df_company_dict

  기업명   매출액    업종
0  삼성  2000  스마트폰
1  현대  2500   자동차
2  LG  3000   건조기

In [127]:
df_company_dict.index = [11,12,13]

In [128]:
df_company_dict.index

Int64Index([11, 12, 13], dtype='int64')

In [129]:
df_company_dict.index = df_company_dict['기업명']
df_company_dict

    기업명   매출액    업종
기업명
삼성   삼성  2000  스마트폰
현대   현대  2500   자동차
LG   LG  3000   건조기

In [130]:
df_company_dict['매출액']

기업명
삼성    2000
현대    2500
LG    3000
Name: 매출액, dtype: int64

In [131]:
type(df_company_dict['매출액'])

pandas.core.series.Series

# [문제1] 다음의 정보를 데이터 프레임으로 만들기
- list방법, dict 방법으로 만들어 보기
- list 방법은 컬럼명 설정 하는 것도 해보기
- 각 dataframe에서 하나의 컬럼 뽑아내기

In [132]:
data = [["진", "서브보컬", 28],
["슈가", "리드래퍼", 28],
["제이홉", "서브래퍼", 27],
["RM", "리더", 26],
["지민", "리드보컬", 25],
["뷔", "리드댄서", 25],
["정국", "리드댄서",23]]

In [133]:
se = pd.Series(data)
se

0      [진, 서브보컬, 28]
1     [슈가, 리드래퍼, 28]
2    [제이홉, 서브래퍼, 27]
3       [RM, 리더, 26]
4     [지민, 리드보컬, 25]
5      [뷔, 리드댄서, 25]
6     [정국, 리드댄서, 23]
dtype: object

In [134]:
df = pd.DataFrame(data)
df

     0     1   2
0    진  서브보컬  28
1   슈가  리드래퍼  28
2  제이홉  서브래퍼  27
3   RM    리더  26
4   지민  리드보컬  25
5    뷔  리드댄서  25
6   정국  리드댄서  23

In [135]:
df_artist = pd.DataFrame(data)
df_artist.columns = ['이름', '포지션', '나이']
df_artist

    이름   포지션  나이
0    진  서브보컬  28
1   슈가  리드래퍼  28
2  제이홉  서브래퍼  27
3   RM    리더  26
4   지민  리드보컬  25
5    뷔  리드댄서  25
6   정국  리드댄서  23

In [136]:
df_artist['이름']

0      진
1     슈가
2    제이홉
3     RM
4     지민
5      뷔
6     정국
Name: 이름, dtype: object

# [문제2] 데이터 프레임 만들기


*   numpy 1~40까지 홀수로 저장
*   4개의 컬럼으로 이뤄진 DataFrame으로 만들기
*   컬럼 이름 '1열','2열','3열','4열' 로 적용하기

## 파일 읽어오기(CSV)

In [137]:
PATH

'/content/drive/MyDrive/datas/'

In [138]:
korea_star_name

'korea-star.csv'

In [139]:
import os

In [140]:
file_path = os.path.join(PATH, korea_star_name)

In [141]:
df = pd.read_csv(file_path)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

In [142]:
# 컬럼명 확인
df.columns

Index(['이름', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '인기지수'], dtype='object')

In [143]:
df.columns = ['name', 'group', 'company','성별', '생년월일', '키', '혈액형', '인기지수']
df

    name  group  company  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

In [144]:
df.head()

  name  group company  성별        생년월일      키 혈액형     인기지수
0  아이린   레드벨벳      SM  여자  1991-03-29  160.0   A  8256324
1  차은우   아스트로    판타지오  남자  1997-03-30  183.0   B  3506027
2    뷔  방탄소년단     빅히트  남자  1995-12-30  178.0  AB  8073501
3   민현    NaN    플레디스  남자  1995-08-09  182.3   O  4989792
4   소연    아이들      큐브  여자  1998-08-26    NaN   B  4668615

In [145]:
df.tail()

   name  group  company  성별        생년월일      키 혈액형      인기지수
11   정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12   화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13  하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14   슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15   지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

In [146]:
# 행 index
df.index

RangeIndex(start=0, stop=16, step=1)

In [147]:
# 데이터 프레임 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     16 non-null     object
 1   group    14 non-null     object
 2   company  16 non-null     object
 3   성별       16 non-null     object
 4   생년월일     16 non-null     object
 5   키        14 non-null     float64
 6   혈액형      16 non-null     object
 7   인기지수     16 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [148]:
# 통계정보
df.describe()

                키          인기지수
count   14.000000  1.600000e+01
mean   173.521429  5.762417e+06
std      7.850054  2.226667e+06
min    160.000000  3.274137e+06
25%    168.725000  4.007032e+06
50%    175.500000  4.957617e+06
75%    178.900000  7.756571e+06
max    183.000000  1.052326e+07

In [149]:
df.shape

(16, 8)

In [150]:
# 정렬
# 오름차순 정렬
df.sort_index()

    name  group  company  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

In [151]:
df.sort_index(ascending = False)

    name  group  company  성별        생년월일      키 혈액형      인기지수
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324

In [152]:
df.sort_values(by='키')

    name  group  company  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661

In [153]:
df.sort_values(by='인기지수', ascending=False)

    name  group  company  성별        생년월일      키 혈액형      인기지수
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137

In [154]:
# 정렬을 다양한(복수) 조건으로
df.sort_values(by=['company', '인기지수'])

    name  group  company  성별        생년월일      키 혈액형      인기지수
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792

# 다른 데이터로 위의 내용을 진행해 보기
- 슬랙 house_price.csv 파일

In [155]:
PATH

'/content/drive/MyDrive/datas/'

In [162]:
house_price = korea_star_name = os.listdir(PATH)[3]

In [163]:
house_price

'house_price.csv'

In [164]:
file_path = os.path.join(PATH, house_price)

In [165]:
file_path

'/content/drive/MyDrive/datas/house_price.csv'

In [166]:
df = pd.read_csv(file_path)
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [167]:
# 컬럼명 확인
df.columns

Index(['지역명', '규모구분', '연도', '월', '분양가격(㎡)'], dtype='object')

In [169]:
df.head(20)

   지역명               규모구분    연도   월 분양가격(㎡)
0   서울                 전체  2015  10    5841
1   서울         전용면적 60㎡이하  2015  10    5652
2   서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3   서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4   서울        전용면적 102㎡초과  2015  10    5879
5   인천                 전체  2015  10    3163
6   인천         전용면적 60㎡이하  2015  10    3488
7   인천   전용면적 60㎡초과 85㎡이하  2015  10    3119
8   인천  전용면적 85㎡초과 102㎡이하  2015  10    3545
9   인천        전용면적 102㎡초과  2015  10    3408
10  경기                 전체  2015  10    3138
11  경기         전용면적 60㎡이하  2015  10    3126
12  경기   전용면적 60㎡초과 85㎡이하  2015  10    3239
13  경기  전용면적 85㎡초과 102㎡이하  2015  10    3496
14  경기        전용면적 102㎡초과  2015  10    3680
15  부산                 전체  2015  10    3112
16  부산         전용면적 60㎡이하  2015  10    2950
17  부산   전용면적 60㎡초과 85㎡이하  2015  10    2999
18  부산  전용면적 85㎡초과 102㎡이하  2015  10    2957
19  부산        전용면적 102㎡초과  2015  10    3500

In [170]:
df.tail()

     지역명               규모구분    연도  월 분양가격(㎡)
4500  제주                 전체  2020  2    3955
4501  제주         전용면적 60㎡이하  2020  2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020  2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020  2     NaN
4504  제주        전용면적 102㎡초과  2020  2    3601

In [171]:
# 행 index
df.index

RangeIndex(start=0, stop=4505, step=1)

In [172]:
# 데이터 프레임 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4505 non-null   object
 1   규모구분     4505 non-null   object
 2   연도       4505 non-null   int64
 3   월        4505 non-null   int64
 4   분양가격(㎡)  4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [173]:
# 통계정보
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

In [174]:
df.shape

(4505, 5)

In [175]:
# 정렬
# 오름차순 정렬
df.sort_index()

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [176]:
df.sort_index(ascending = False)

     지역명               규모구분    연도   월 분양가격(㎡)
4504  제주        전용면적 102㎡초과  2020   2    3601
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4501  제주         전용면적 60㎡이하  2020   2    4039
4500  제주                 전체  2020   2    3955
...   ..                ...   ...  ..     ...
4     서울        전용면적 102㎡초과  2015  10    5879
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
1     서울         전용면적 60㎡이하  2015  10    5652
0     서울                 전체  2015  10    5841

[4505 rows x 5 columns]

In [177]:
df.sort_values(by='월')

     지역명               규모구분    연도   월 분양가격(㎡)
3315  서울                 전체  2019   1    7600
2371  경남         전용면적 60㎡이하  2018   1    2784
2372  경남   전용면적 60㎡초과 85㎡이하  2018   1    2666
2373  경남  전용면적 85㎡초과 102㎡이하  2018   1    2914
2374  경남        전용면적 102㎡초과  2018   1    2836
...   ..                ...   ...  ..     ...
1214  대구        전용면적 102㎡초과  2016  12    5014
1213  대구  전용면적 85㎡초과 102㎡이하  2016  12    3045
1212  대구   전용면적 60㎡초과 85㎡이하  2016  12    3151
1220  대전                 전체  2016  12    2685
2252  세종   전용면적 60㎡초과 85㎡이하  2017  12    3164

[4505 rows x 5 columns]

In [178]:
df.sort_values(by='연도', ascending=False)

     지역명               규모구분    연도   월 분양가격(㎡)
4504  제주        전용면적 102㎡초과  2020   2    3601
4388  충북  전용면적 85㎡초과 102㎡이하  2020   1    2634
4396  전북         전용면적 60㎡이하  2020   1    2526
4395  전북                 전체  2020   1    2468
4394  충남        전용면적 102㎡초과  2020   1    2835
...   ..                ...   ...  ..     ...
166   제주         전용면적 60㎡이하  2015  11
165   제주                 전체  2015  11    2232
164   경남        전용면적 102㎡초과  2015  11    3043
163   경남  전용면적 85㎡초과 102㎡이하  2015  11    2980
0     서울                 전체  2015  10    5841

[4505 rows x 5 columns]

In [179]:
# 정렬을 다양한(복수) 조건으로
df.sort_values(by=['지역명', '규모구분'])

     지역명         규모구분    연도   월 분양가격(㎡)
49    강원  전용면적 102㎡초과  2015  10    2171
134   강원  전용면적 102㎡초과  2015  11    2171
219   강원  전용면적 102㎡초과  2015  12    2171
304   강원  전용면적 102㎡초과  2016   1    2171
389   강원  전용면적 102㎡초과  2016   2    2350
...   ..          ...   ...  ..     ...
4130  충북           전체  2019  10    2272
4215  충북           전체  2019  11    2303
4300  충북           전체  2019  12    2305
4385  충북           전체  2020   1    2305
4470  충북           전체  2020   2    2395

[4505 rows x 5 columns]

In [180]:
korea_star_df = pd.read_excel(os.path.join(PATH, 'korea-star.xlsx'))

In [181]:
korea_star_df

      이름     그룹      소속사  성별       생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자 1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자 1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자 1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260

In [182]:
korea_star_df.columns

Index(['이름', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '인기지수'], dtype='object')

In [183]:
korea_star_df['혈액형']=korea_star_df['혈액형']+'형'

In [184]:
korea_star_df

      이름     그룹      소속사  성별       생년월일      키  혈액형      인기지수
0    아이린   레드벨벳       SM  여자 1991-03-29  160.0   A형   8256324
1    차은우   아스트로     판타지오  남자 1997-03-30  183.0   B형   3506027
2      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB형   8073501
3     민현    NaN     플레디스  남자 1995-08-09  182.3   O형   4989792
4     소연    아이들       큐브  여자 1998-08-26    NaN   B형   4668615
5      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O형   4570308
6     윤아   소녀시대       SM  여자 1989-03-09    NaN   A형   3918661
7     백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB형   3301654
8     JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O형   3274137
9     슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O형   4925442
10  강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A형   8273745
11    정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A형   7208335
12    화사    마마무      RBW  여자 1995-07-23  162.1   A형   7650928
13   하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A형   4036489
14    슬기   레드벨벳       SM  여자 1994-02-10  161.0   A형   5021452
15    지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A형  10523260

In [185]:
korea_star_df['혈액형'] = korea_star_df['혈액형'].str.replace('형',"")

In [186]:
korea_star_df

      이름     그룹      소속사  성별       생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자 1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자 1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자 1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260

# 실습문제 : 남자는 M , 여자는 F

In [214]:
korea_star_df['성별'] = korea_star_df['성별'].str.replace('여자',"F")
korea_star_df['성별'] = korea_star_df['성별'].str.replace('남자',"M")

In [215]:
korea_star_df

      이름     그룹      소속사 성별       생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  F 1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  M 1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  M 1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  M 1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  F 1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  M 1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  F 1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  M 1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  M 1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  M 1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  M 1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  M 1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  F 1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  M 1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  F 1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  M 1995-10-13  173.6   A  10523260

In [187]:
korea_star_df # 원본
cp_korea_star_df = korea_star_df.copy()

In [188]:
# cp_korea_star_df['그룹'] = 12

In [189]:
cp_korea_star_df.head()

    이름     그룹   소속사  성별       생년월일      키 혈액형     인기지수
0  아이린   레드벨벳    SM  여자 1991-03-29  160.0   A  8256324
1  차은우   아스트로  판타지오  남자 1997-03-30  183.0   B  3506027
2    뷔  방탄소년단   빅히트  남자 1995-12-30  178.0  AB  8073501
3   민현    NaN  플레디스  남자 1995-08-09  182.3   O  4989792
4   소연    아이들    큐브  여자 1998-08-26    NaN   B  4668615

In [191]:
# 값을 추가
cp_korea_star_df.append({'이름':'임종한', '그룹':'무명', '소속사':'SM', '성별':'M', '생년월일':'2023' ,'키':'200', '혈액형':'O', '인기지수':'99999999'},ignore_index=True)

<ipython-input-191-51e42e4b35e4>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cp_korea_star_df.append({'이름':'임종한', '그룹':'무명', '소속사':'SM', '성별':'M', '생년월일':'2023' ,'키':'200', '혈액형':'O', '인기지수':'99999999'},ignore_index=True)

      이름     그룹      소속사  성별                 생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29 00:00:00  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30 00:00:00  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30 00:00:00  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09 00:00:00  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26 00:00:00    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04 00:00:00  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09 00:00:00    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21 00:00:00  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08 00:00:00  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09 00:00:00  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10 00:00:00  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01 00:00:00  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23 00:00:00  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22 00:00:00  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10 00:00:00  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13 00:00:00  173.6   A  10523260
16   임종한     무명       SM   M                 2023    200   O  99999999

In [192]:
# 통계값 다루기
cp_korea_star_df['키'].min(), cp_korea_star_df['키'].max()

(160.0, 183.0)

In [193]:
cp_korea_star_df['키'].sum(), cp_korea_star_df['키'].mean()

(2429.3, 173.52142857142857)

In [195]:
cp_korea_star_df['키'].var(), cp_korea_star_df['키'].std()

(61.62335164835167, 7.8500542449305195)

# 인덱싱, 슬라이싱

In [199]:
# cp_korea_star_df['키']
cp_korea_star_df.loc[0:3,['이름']]

    이름
0  아이린
1  차은우
2    뷔
3   민현

In [200]:
cp_korea_star_df.iloc[0:3, 0]

0    아이린
1    차은우
2      뷔
Name: 이름, dtype: object

In [201]:
# groupby
cp_korea_star_df.groupby('소속사')

In [202]:
cp_korea_star_df.groupby('소속사').count()

         이름  그룹  성별  생년월일  키  혈액형  인기지수
소속사
RBW       1   1   1     1  1    1     1
SM        3   3   3     3  2    3     3
빅히트       5   5   5     5  5    5     5
스타크루이엔티   1   1   1     1  1    1     1
커넥트       1   0   1     1  1    1     1
큐브        1   1   1     1  0    1     1
판타지오      1   1   1     1  1    1     1
플레디스      3   2   3     3  3    3     3

In [203]:
cp_korea_star_df.value_counts('소속사')

소속사
빅히트        5
SM         3
플레디스       3
RBW        1
스타크루이엔티    1
커넥트        1
큐브         1
판타지오       1
dtype: int64

In [204]:
cp_korea_star_df.groupby('소속사').sum()

             키      인기지수
소속사
RBW      162.1   7650928
SM       321.0  17196437
빅히트      882.8  35300846
스타크루이엔티  167.1   4036489
커넥트      180.0   8273745
큐브         0.0   4668615
판타지오     183.0   3506027
플레디스     533.3  11565583

In [205]:
cp_korea_star_df.groupby('소속사').mean()

                  키          인기지수
소속사
RBW      162.100000  7.650928e+06
SM       160.500000  5.732146e+06
빅히트      176.560000  7.060169e+06
스타크루이엔티  167.100000  4.036489e+06
커넥트      180.000000  8.273745e+06
큐브              NaN  4.668615e+06
판타지오     183.000000  3.506027e+06
플레디스     177.766667  3.855194e+06

In [206]:
cp_korea_star_df.groupby('소속사').std()

                키          인기지수
소속사
RBW           NaN           NaN
SM       0.707107  2.254472e+06
빅히트      2.570603  2.439173e+06
스타크루이엔티       NaN           NaN
커넥트           NaN           NaN
큐브            NaN           NaN
판타지오          NaN           NaN
플레디스     3.957693  9.826867e+05

In [207]:
cp_korea_star_df.groupby('소속사').var()

                 키          인기지수
소속사
RBW            NaN           NaN
SM        0.500000  5.082644e+12
빅히트       6.608000  5.949565e+12
스타크루이엔티        NaN           NaN
커넥트            NaN           NaN
큐브             NaN           NaN
판타지오           NaN           NaN
플레디스     15.663333  9.656732e+11

In [208]:
cp_korea_star_df.groupby('소속사')['키'].min()

소속사
RBW        162.1
SM         160.0
빅히트        173.6
스타크루이엔티    167.1
커넥트        180.0
큐브           NaN
판타지오       183.0
플레디스       175.0
Name: 키, dtype: float64

In [209]:
cp_korea_star_df.groupby('소속사')['키'].max()

소속사
RBW        162.1
SM         161.0
빅히트        179.2
스타크루이엔티    167.1
커넥트        180.0
큐브           NaN
판타지오       183.0
플레디스       182.3
Name: 키, dtype: float64

In [210]:
cp_korea_star_df.groupby(['혈액형', '성별'])['인기지수'].mean()

혈액형  성별
A    남자    7510457.25
     여자    6211841.25
AB   남자    5687577.50
B    남자    3506027.00
     여자    4668615.00
O    남자    4439919.75
Name: 인기지수, dtype: float64

In [217]:
house_price = pd.read_csv(PATH+'house_price.csv')

In [218]:
house_price['분양가격(㎡)'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4505 entries, 0 to 4504
Series name: 분양가격(㎡)
Non-Null Count  Dtype
--------------  -----
4210 non-null   object
dtypes: object(1)
memory usage: 35.3+ KB

In [219]:
# 자료형 바꾸기
house_price['분양가격(㎡)'].dtype

dtype('O')

In [224]:
house_price['분양가격(㎡)'].astype(int)

ValueError: ignored

In [225]:
house_price['분양가격(㎡)'] = house_price['분양가격(㎡)'].fillna('-1')
# house_price['분양가격(㎡)'] = house_price['분양가격(㎡)'].fillna(0)
# house_price['분양가격(㎡)'] = house_price['분양가격(㎡)'].fillna(평균)
# house_price['분양가격(㎡)'] = house_price['분양가격(㎡)'] => 삭제

In [226]:
house_price['분양가격(㎡)'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4505 entries, 0 to 4504
Series name: 분양가격(㎡)
Non-Null Count  Dtype
--------------  -----
4505 non-null   object
dtypes: object(1)
memory usage: 35.3+ KB

In [227]:
house_price['분양가격(㎡)'].astype(int)

ValueError: ignored

In [228]:
house_price['분양가격(㎡)'][house_price['분양가격(㎡)']=='  '] = 0

<ipython-input-228-8a938c61d674>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['분양가격(㎡)'][house_price['분양가격(㎡)']=='  '] = 0

In [229]:
house_price['분양가격(㎡)'] = house_price['분양가격(㎡)'].str.replace(',','0')
house_price['분양가격(㎡)'] = house_price['분양가격(㎡)'].str.replace('-','0')
house_price['분양가격(㎡)'] = house_price['분양가격(㎡)'].fillna('0')

In [230]:
house_price['분양가격(㎡)'].astype(int)

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4500    3955
4501    4039
4502    3962
4503       1
4504    3601
Name: 분양가격(㎡), Length: 4505, dtype: int64

In [231]:
# 결측치 처리