<a href="https://colab.research.google.com/github/datajcthemax/playdata/blob/main/day11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11번째 이야기
- 판다스(Pandas)의 시리즈(Series)와 데이터 프레임(DataFrame)
- VAK 학습 성향 분석
- 미니 프로젝트 팀 빌드

In [2]:
import os
PATH = '/content/drive/MyDrive/day11_data/'

In [3]:
korea_star_name = os.listdir(PATH)[0]

In [4]:
korea_star_name

'korea-star.xlsx'

## Series 만들기

In [5]:
import pandas as pd
import numpy as np

In [9]:
# Series는 1차원 벡터임. 열 벡터.
a = [1,2,3,4,5]
se = pd.Series(a)

## DataFrame 만들기

In [10]:
# DataFrame은 2차원 벡터
df = pd.DataFrame(a)
df

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
type(se), type(df)

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [12]:
a = np.random.rand(3,5)
a

array([[0.59700236, 0.18790419, 0.86788602, 0.28669326, 0.79995412],
       [0.2557976 , 0.45552941, 0.77347445, 0.7715471 , 0.11069222],
       [0.41907065, 0.01236951, 0.88953204, 0.10810103, 0.59200078]])

## DataFrame 자료구조

In [13]:
# list로 만들기
company = [['삼성', 2000, '스마트폰'],
           ['현대', 2500, '자동차'],
           ['LG', 3000, '건조기']
           ]

In [14]:
company

[['삼성', 2000, '스마트폰'], ['현대', 2500, '자동차'], ['LG', 3000, '건조기']]

In [15]:
df_company = pd.DataFrame(company)

In [16]:
df_company.columns = ['기업명', '매출액', '업종']

In [17]:
df_company

  기업명   매출액    업종
0  삼성  2000  스마트폰
1  현대  2500   자동차
2  LG  3000   건조기

In [18]:
# dict로 만들기 - 키:값 형태로 입력
company_dict = {'기업명':['삼성','현대','LG'],
                '매출액':[2000,2500,3000],
                '업종':['스마트폰','자동차','건조기']                
                }
df_company_dict = pd.DataFrame(company_dict)

In [19]:
df_company_dict

  기업명   매출액    업종
0  삼성  2000  스마트폰
1  현대  2500   자동차
2  LG  3000   건조기

In [20]:
df_company_dict.index = [11,12,13]

In [21]:
df_company_dict.index

Int64Index([11, 12, 13], dtype='int64')

In [22]:
df_company_dict.index = df_company_dict['기업명']
df_company_dict

    기업명   매출액    업종
기업명
삼성   삼성  2000  스마트폰
현대   현대  2500   자동차
LG   LG  3000   건조기

In [23]:
df_company_dict['매출액']

기업명
삼성    2000
현대    2500
LG    3000
Name: 매출액, dtype: int64

In [24]:
type(df_company_dict['매출액'])

pandas.core.series.Series

# [문제1] 다음의 정보를 데이터 프레임으로 만들기
- list방법, dict 방법으로 만들어 보기
- list 방법은 컬럼명 설정 하는 것도 해보기
- 각 dataframe에서 하나의 컬럼 뽑아내기

In [25]:
data = [["진", "서브보컬", 28],
["슈가", "리드래퍼", 28],
["제이홉", "서브래퍼", 27],
["RM", "리더", 26],
["지민", "리드보컬", 25],
["뷔", "리드댄서", 25],
["정국", "리드댄서",23]]

In [27]:
se = pd.Series(data)
se

0      [진, 서브보컬, 28]
1     [슈가, 리드래퍼, 28]
2    [제이홉, 서브래퍼, 27]
3       [RM, 리더, 26]
4     [지민, 리드보컬, 25]
5      [뷔, 리드댄서, 25]
6     [정국, 리드댄서, 23]
dtype: object

In [26]:
df = pd.DataFrame(data)
df

     0     1   2
0    진  서브보컬  28
1   슈가  리드래퍼  28
2  제이홉  서브래퍼  27
3   RM    리더  26
4   지민  리드보컬  25
5    뷔  리드댄서  25
6   정국  리드댄서  23

In [29]:
df_artist = pd.DataFrame(data)
df_artist.columns = ['이름', '포지션', '나이']
df_artist

    이름   포지션  나이
0    진  서브보컬  28
1   슈가  리드래퍼  28
2  제이홉  서브래퍼  27
3   RM    리더  26
4   지민  리드보컬  25
5    뷔  리드댄서  25
6   정국  리드댄서  23

In [30]:
df_artist['이름']

0      진
1     슈가
2    제이홉
3     RM
4     지민
5      뷔
6     정국
Name: 이름, dtype: object

# [문제2] 데이터 프레임 만들기


*   numpy 1~40까지 홀수로 저장
*   4개의 컬럼으로 이뤄진 DataFrame으로 만들기
*   컬럼 이름 '1열','2열','3열','4열' 로 적용하기