<a href="https://colab.research.google.com/github/datajcthemax/playdata/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#continue 의 사용법

In [ ]:
#항공사 직원
while True:
  answer = input("탑승권 가져오셨어요?")
  if answer == "y":
    print("F-1번에서 탑승하시면 됩니다")
  elif answer =='n':
    print("가져 오셔야합니다")
    break
  else:
    continue
  print("저희 항공사는 여러분의 편의를 위해서...")
  break

print("다음 고객 오세요")

탑승권 가져오셨어요?n
가져 오셔야합니다
다음 고객 오세요

In [ ]:
#중첩 리스트, 딕셔너리

In [ ]:
#중첩 리스트: 리스트 안에 리스트 -> AI 행렬
a = [
    ['커피', '쥬스'], #음료
    ['초코', '치즈'], #케이크
]

In [ ]:
#딕셔너리

b = {
    '음료':['커피','쥬스'],
    '케이크':['초코', '치즈'],
     
}

In [ ]:
total_price = 0
total_menu = {}
menu = {
    'drink' : {
        '아메리카노': 4500,
        '라떼': 5000,
        '밀크티': 5500
    },
    'food' : {
        '케이크' : 5000, '샌드위치' : 2500
    }
}


def choose_menu():
    basket_price = 0
    while True:
        print(menu)
        order = input("메뉴를 골라주세요: ")
        if order in menu['drink']:
            while True:
                hot_or_ice = input("HOT(따뜻한 음료) 또는 ICE(차가운 음료) 중에서 선택해주세요: ")
                print("ICE는 500원이 추가됩니다.")
                if hot_or_ice == 'HOT':
                    price = menu['drink'][order]
                    break
                elif hot_or_ice == 'ICE':
                    price = menu['drink'][order] + 500
                    break
                else:
                    print("잘못된 입력입니다. 다시 선택해주세요.")
        elif order in menu['food']:
            price = menu['food'][order]
            hot_or_ice = None  # 음식에는 HOT/ICE가 없으므로 None으로 초기화합니다.
        else:
            print("잘못된 입력입니다. 다시 선택해주세요.")
            continue
        print(f"주문하신 메뉴는 {order}이고 가격은 {price}원입니다.")
        count = int(input("얼마나 주문하시겠습니까?: "))
        ans = input(f"{order}를 {count}개 주문하시겠습니까? (Y/N)")
        if ans == 'Y' or ans == 'y':
            if hot_or_ice is not None:  # 음료인 경우에만 hot_or_ice를 저장합니다.
                total_menu[(order, hot_or_ice)] = total_menu.get((order, hot_or_ice), 0) + count
            else:
                total_menu[order] = total_menu.get(order, 0) + count
            basket_price += (price * count)
            print(f"{order}가 {count}개 장바구니에 추가되었습니다.")
            print(f"누적 금액은 {basket_price}원입니다.")
        ans2 = input("추가 주문 하시겠습니까? (Y/N): ")
        if ans2 == 'N' or ans2 == 'n':
            break
    return basket_price
total_price += choose_menu()

def select_menu():
    global total_price, total_menu
    
    print("현재 주문하신 메뉴는 다음과 같습니다:")
    for key, value in total_menu.items():
        if type(key) == tuple:
            print(f"{key[0]} ({key[1]}) : {value}개")
        else:
            print(f"{key} : {value}개")
    print(f"총 주문 금액은 {total_price}원입니다.")
    
    while True:
        #print(total_menu.keys())
        menu_to_delete_type = input("삭제하실 메뉴 종류를 입력해주세요. ex) drink or food. 취소하시려면 0을 입력하세요 : ")

        #메뉴취소
        if menu_to_delete_type == '0':
            break

        elif menu_to_delete_type == 'drink':
            menu_to_delete = input("삭제할 메뉴를 입력하세요 (음식명, HOT/ICE). 이전 단계로 돌아가려면 0을 입력하세요 : ")
            if menu_to_delete == 0:
                continue
            #드링크류는 HOT/ICE 때문에 값을 튜플로 받아야함
            else:
                menu_to_delete = tuple(menu_to_delete.split(", "))
            
        elif menu_to_delete_type == 'food':
            menu_to_delete = input("삭제할 메뉴를 입력하세요. 이전 단계로 돌아가려면 0을 입력하세요 : ")
            if menu_to_delete == 0:
                continue

        else:
            print("잘못입력 하셨습니다. 다시 시도해 주세요")
            continue
        
        #잘못된 값
        if menu_to_delete not in total_menu.keys():
            print("잘못된 입력입니다. 다시 입력해주세요.")
            continue
        #올바른 값
        else:
            count_to_delete = int(input(f"{menu_to_delete}를 몇 개 삭제하시겠습니까?: "))
            #너무 많이 삭제
            if count_to_delete > total_menu[menu_to_delete]:
                print("삭제할 수 있는 개수보다 많습니다. 다시 입력해주세요.")
                continue
            #전부 삭제
            elif count_to_delete == total_menu[menu_to_delete]:
                total_menu.pop(menu_to_delete)
                #금액 제거
                if menu_to_delete in menu['drink']:
                    if menu_to_delete in menu['ice'].keys():
                        total_price -= (menu['drink'][menu_to_delete] + 500) * count_to_delete
                    else:
                        total_price -= menu['drink'][menu_to_delete] * count_to_delete
                elif menu_to_delete in menu['food']:
                    total_price -= menu['food'][menu_to_delete] * count_to_delete
            #일부분 삭제
            else:
                if isinstance(menu_to_delete, tuple):
                    total_menu[menu_to_delete] -= count_to_delete
                else:
                    total_menu[menu_to_delete] -= count_to_delete

                if menu_to_delete in menu['drink']:
                    if menu_to_delete in menu['ice'].keys():
                        total_price -= (menu['drink'][menu_to_delete] + 500) * count_to_delete
                    else:
                        total_price -= menu['drink'][menu_to_delete] * count_to_delete
                elif menu_to_delete in menu['food']:
                    total_price -= menu['food'][menu_to_delete] * count_to_delete
            print(f"{menu_to_delete} {count_to_delete}개를 장바구니에서 삭제하였습니다.")
            print(f"현재 금액은 {total_price}원입니다.")
select_menu()
print(f"최종 주문하신 메뉴는 {total_menu}입니다.")
print(f"총 주문 금액은 {total_price}원입니다.")

while True:
    money = int(input("지불하실 금액을 입력해주세요 : "))
    if total_price == money:
        print("이용해 주셔서 감사합니다.")
        break
    elif total_price < money:
        print("이용해 주셔서 감사합니다.")
        print(f"잔돈 : {money - total_price}")
    elif total_price > money:
        print(f"남은 금액 : {total_price - money}")
        total_price -= money

        
#메뉴를 음료와 음식으로 구분하여 보여준 후 
#음료의 경우는 HOT/ICE 조건이 있어 값을 장바구니 딕셔너리의 키 값을 튜플로 저장합니다.
#while 문을 활용하여 만족할때 까지 주문 받습니다.
#장바구니에서 원하지 않는 메뉴 삭제합니다.
#현재 주문중인 메뉴를 보여줍니다.
#최종 주문 확정인 메뉴를 보여줍니다
#금액을 보여준 후 계산을 합니다.
##저장되는 딕셔너리에 값이 복잡하고 일관성이 떨어져 활용하기 어렵다는 단점이 있습니다.

{'drink': {'아메리카노': 4500, '라떼': 5000, '밀크티': 5500}, 'food': {'케이크': 5000, '샌드위치': 2500}}
메뉴를 골라주세요: 아메리카노
HOT(따뜻한 음료) 또는 ICE(차가운 음료) 중에서 선택해주세요: ICE
ICE는 500원이 추가됩니다.
주문하신 메뉴는 아메리카노이고 가격은 5000원입니다.
얼마나 주문하시겠습니까?: 2
아메리카노를 2개 주문하시겠습니까? (Y/N)Y
아메리카노가 2개 장바구니에 추가되었습니다.
누적 금액은 10000원입니다.
추가 주문 하시겠습니까? (Y/N): Y
{'drink': {'아메리카노': 4500, '라떼': 5000, '밀크티': 5500}, 'food': {'케이크': 5000, '샌드위치': 2500}}
메뉴를 골라주세요: 케이크
주문하신 메뉴는 케이크이고 가격은 5000원입니다.
얼마나 주문하시겠습니까?: 1
케이크를 1개 주문하시겠습니까? (Y/N)Y
케이크가 1개 장바구니에 추가되었습니다.
누적 금액은 15000원입니다.
추가 주문 하시겠습니까? (Y/N): N
현재 주문하신 메뉴는 다음과 같습니다:
아메리카노 (ICE) : 2개
케이크 : 1개
총 주문 금액은 15000원입니다.
삭제하실 메뉴 종류를 입력해주세요. ex) drink or food. 취소하시려면 0을 입력하세요 : 0
최종 주문하신 메뉴는 {('아메리카노', 'ICE'): 2, '케이크': 1}입니다.
총 주문 금액은 15000원입니다.
지불하실 금액을 입력해주세요 : 15000
이용해 주셔서 감사합니다.

In [ ]:
# 두 수를 입력받아 사칙연산을 하는 계산기 프로그램
# def 함수명(매개변수):
#   프로그램
#   return 결과값

In [ ]:
# 덧셈연산 함수
def plus(a,b):
  a = int(a)
  b = int(b)
  result = a + b
  return result

In [ ]:
num1 = int(input("첫번째 수:"))
num2 = int(input("두번째 수:"))

#함수 호출
#함수명(매개변수)

plus(num1,num2)

첫번째 수:2
두번째 수:3

5

In [ ]:
type(a)

str

In [ ]:
ret = plus(a=num1, b=num2)
print(ret)

5

In [ ]:
#업그레이드 버젼-키오스크
#1. 주문만 받기
def get_order(): 
  order = input("what do you want?")
  order_list = [order]
  return order_list

In [ ]:
order_1 =get_order()

what do you want?burger

In [ ]:
order_1

['burger']

In [ ]:
#2. 주문 + 수량
def get_order_amount():
  order = input("what do you want?")
  amount = int(input("how many?"))
  order_list = {order:amount}
  return order_list

In [ ]:
get_order()

what do you want?burger

['burger']

In [ ]:
get_order_amount()

what do you want?burger
how many?3

{'burger': 3}

In [ ]:
# 3. 메뉴 정보를 외부에서 받아서 주문 받는 함수
def get_order_with_menu(menu): #menu는 리스트
  for m in menu:
    print(m)
  order = input("what do you want?")
  amount = int(input("how many?"))
  order_list = {order:amount}
  return order_list

In [ ]:
many_menu = ['coffee', '밥', '케이크']
order_12=get_order_with_menu(many_menu)

coffee
what do you want?비스켓
how many?2

In [ ]:
order_12

{'비스켓': 2}

In [ ]:
#subtraction function
def subtraction():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a-b
  return result

In [ ]:
subtraction()

first number:2
second number:3

-1

In [ ]:
#multiplication function
def multiplication():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a*b
  return result

In [ ]:
multiplication()

first number:3
second number:4

12

In [ ]:
#division function
def division():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a/b
  return result

In [ ]:
division()

first number:6
second number:5

1.2

In [ ]:
#몫 function
def 몫():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a//b
  return result

In [ ]:
몫()

first number:2
second number:4

0

In [ ]:
몫()

first number:18
second number:2

9

In [ ]:
#remainder function
def remainder():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a%b
  return result

In [ ]:
remainder()

first number:4
second number:3

1

In [ ]:
def cal(y,a,b):
    if y == '+':
        print(a+b)
    elif y == '-':
        print(a-b)
    elif y == '*':
        print(a*b)
    elif y == '/':
        print(a/b)
    else:
        print('연산식을 넣으시오')
a = int(input('숫자를 넣으시오'))
b = int(input('숫자를 넣으시오'))
exp = input('''
연산식을 넣으시오
연산식은 '*','-','+','/'만 가능합니다
''')
cal(exp,a,b)

숫자를 넣으시오7
숫자를 넣으시오5

연산식을 넣으시오
연산식은 '*','-','+','/'만 가능합니다
+
12

In [ ]:
menu = {'burger':3000, 'salad':2000, 'chicken': 5000}
def get_order_amount():
  order = input("what do you want?")
  amount = int(input("how many?"))
  order_list = {order:amount}
  print(f"{order_list}")
  order_price = menu[order] * amount
  return order_price

In [ ]:
get_order_amount()

what do you want?burger
how many?2
{'burger': 2}

6000

In [58]:
#1 매개변수에 기본값을 주는 경우 default parameter

In [59]:
def func(a=1,b=2):
  ret = a + b
  return ret

In [63]:
func()

TypeError: ignored

In [64]:
def cafe(order = '커피'):
  print('주문하신', order, '가 나왔습니다.')

In [66]:
cafe('라떼')

주문하신 라떼 가 나왔습니다.

In [77]:
#2. 무제한 인자 받기
def test(*args):
  print(args)
  print(type(args))

In [78]:
test(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>

In [79]:
def test1(*args):
  for a in args:
    print(a)

In [81]:
test1(1,2,3)

1
2
3

In [82]:
a=[1,2,3,4,]
test1(a)

[1, 2, 3, 4]

In [83]:
test1(*a)#test1(1,2,3,4)

1
2
3
4

In [87]:
#3. 일부분 무제한 인자 받기
def test2(a, *args):
  print(a,"의 메뉴를 보여드립니다")
  for i in args:
    print(i)

In [88]:
menu = ['coffee','tea']
cafe_name = '스타벅스_서초점'

test2(cafe_name, *menu)

스타벅스_서초점 의 메뉴를 보여드립니다
coffee
tea

In [89]:
#4. 무제한 인자받기, dictionary
def test3(**args):
  print(type(args))
  print(args)

In [90]:
test3(1,2)

TypeError: ignored

In [91]:
test3(a=1,b=2)

<class 'dict'>
{'a': 1, 'b': 2}

In [92]:
d = {'coffee':4500, 'cake':12000}
test3(d)

TypeError: ignored

In [93]:
test3(**d)

<class 'dict'>
{'coffee': 4500, 'cake': 12000}

In [105]:
#한국 스타벅스 메뉴에 피자 20000 치킨 30000

In [107]:
kor_menu = {'coffee':5000, 'cake':40000}

def add_menu(**args):
  #들어온 여러 메뉴 추가 정보를 하나씩 빼면서 
  for k, v in args.items(): #args.keys(), args.values()
  #기존 메뉴에 넣기
  #dic[key] = value
    kor_menu[k] = v

In [109]:
add_menu(피자=20000, 치킨=30000)

In [110]:
kor_menu

{'coffee': 5000, 'cake': 40000, '피자': 20000, '치킨': 30000}

In [111]:
#전역변수 지역변수

a = 30

def test4(a):
  a = 10
  return a

In [112]:
a

30

In [113]:
test4(10)

10

In [114]:
a

30

In [115]:
def test5():
  a = 10
  return a

In [116]:
test5()

10

In [117]:
a

30

In [118]:
def test5():
  global a
  a = 10
  return a

In [119]:
test5()

10

In [120]:
a

10

In [121]:
#현업에서는 전역변수는 되도록 쓰지않는다.

In [122]:
#lambda 함수

def plus(num1, num2):
  return num1 + num2

In [124]:
plus2 = lambda num1, num2 : num1+num2

In [125]:
plus2(2,3)

5

In [126]:
#map
#list ,tuple 등의 자료의 값을 하나씩 처리할때

In [127]:
menu = [('커피', 5000), ('케이크',20000)]

In [128]:
menu

[('커피', 5000), ('케이크', 20000)]

In [130]:
list(map(lambda x: x[0], menu))

['커피', '케이크']

In [131]:
# 리스트에서 3의 배수를 문자열로 변환하는 프로그램을 lambda와 map을 이용하여 만들어 보기
# myList = [1,2,3,4,5,6,...]
# 변환하면 -> [1,2,"3",4,5,"6"...]

#3의 배수 판정 ? (if)

In [134]:
f = lambda x : str(x) if x%3==0 else x

In [135]:
myList = [1,2,3,4,5,6]
list(map(f,myList))

[1, 2, '3', 4, 5, '6']

In [136]:
#filter 함수
#filter(참거짓을 판단하는 함수, 리스트나 튜플)
#list(filter(...))

In [137]:
# 3의 배수만 뽑기
filter(lambda x: x%3==0, myList)

In [138]:
list(filter(lambda x: x%3==0, myList))

[3, 6]

In [139]:
#재귀함수
#종료 조건!!!

#10! = 10*9...*2*1
def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)

In [140]:
factorial(10)

3628800

In [146]:

menu=['커피']
def get_order():
  ans = input('주문하세요')
  if ans in menu:
    print(ans,'나왔습니다.')
  else:
    get_order()

In [147]:
get_order()

주문하세요케이크
주문하세요커피
커피 나왔습니다.

In [148]:
def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)

In [149]:
%%time
factorial(10)

CPU times: user 10 µs, sys: 1 µs, total: 11 µs
Wall time: 15.7 µs

3628800

In [152]:
def factorial_new(n):
  if n==1:
    return 1
  return n*factorial(n-1)

In [153]:
%%time
factorial_new(10)

CPU times: user 15 µs, sys: 0 ns, total: 15 µs
Wall time: 19.8 µs

3628800

In [154]:
# lamda를 이용해서 각 요소의 값이 제곱된 값으로 바뀐 리스트를 만들어 봅시다.
# my_list = [1,2,3,4,5]
# outpiout = [1,4,9,16,25]

my_list = [1,2,3,4,5]
list(map(lambda x: x**2, my_list))

[1, 4, 9, 16, 25]

In [155]:
# 컴프리헨션

In [ ]:
%%time
numList=[]
for num in range(1,6000):
  numList.append(num)
numList

In [ ]:
%%time
numList =[num for num in range(1,6000)]
numList

In [164]:
myList = [1,2,3,4,5,6]

In [167]:
#str(x) if x%3==0 else x
myList_output = [str(num) if num%3==0 else num for num in myList]
myList_output

[1, 2, '3', 4, 5, '6']

In [168]:
# filter 응용
# 3배수만 리스트로 만들기
myList_output3 = [num for num in myList if num%3==0]
myList_output3

[3, 6]

In [182]:
#output = [1,2,3...100]
#output_짝수 = [2,4...100]
#output_1 = [1+1, 2*2, 3+3, 4*4

myList_output1 = [num for num in range(1,100)]
myList_output1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [183]:
myList_output2 = [num for num in myList_output1 if num%2==0]
myList_output2

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [186]:
myList_output3 = [num*num for num in myList_output1 if num%2==0 for num]
myList_output3

SyntaxError: ignored

In [188]:
my_list = [num for num in range(1,101)]
my_list

[2,
 4,
 6,
 16,
 10,
 36,
 14,
 64,
 18,
 100,
 22,
 144,
 26,
 196,
 30,
 256,
 34,
 324,
 38,
 400,
 42,
 484,
 46,
 576,
 50,
 676,
 54,
 784,
 58,
 900,
 62,
 1024,
 66,
 1156,
 70,
 1296,
 74,
 1444,
 78,
 1600,
 82,
 1764,
 86,
 1936,
 90,
 2116,
 94,
 2304,
 98,
 2500,
 102,
 2704,
 106,
 2916,
 110,
 3136,
 114,
 3364,
 118,
 3600,
 122,
 3844,
 126,
 4096,
 130,
 4356,
 134,
 4624,
 138,
 4900,
 142,
 5184,
 146,
 5476,
 150,
 5776,
 154,
 6084,
 158,
 6400,
 162,
 6724,
 166,
 7056,
 170,
 7396,
 174,
 7744,
 178,
 8100,
 182,
 8464,
 186,
 8836,
 190,
 9216,
 194,
 9604,
 198,
 10000]

In [189]:
my_even = [num for num in my_list if num%2==0]
my_even

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [190]:
output_1=[num**2 if num %2 ==0 else num*2 for num in my_list]
output_1

[2,
 4,
 6,
 16,
 10,
 36,
 14,
 64,
 18,
 100,
 22,
 144,
 26,
 196,
 30,
 256,
 34,
 324,
 38,
 400,
 42,
 484,
 46,
 576,
 50,
 676,
 54,
 784,
 58,
 900,
 62,
 1024,
 66,
 1156,
 70,
 1296,
 74,
 1444,
 78,
 1600,
 82,
 1764,
 86,
 1936,
 90,
 2116,
 94,
 2304,
 98,
 2500,
 102,
 2704,
 106,
 2916,
 110,
 3136,
 114,
 3364,
 118,
 3600,
 122,
 3844,
 126,
 4096,
 130,
 4356,
 134,
 4624,
 138,
 4900,
 142,
 5184,
 146,
 5476,
 150,
 5776,
 154,
 6084,
 158,
 6400,
 162,
 6724,
 166,
 7056,
 170,
 7396,
 174,
 7744,
 178,
 8100,
 182,
 8464,
 186,
 8836,
 190,
 9216,
 194,
 9604,
 198,
 10000]

In [195]:
#zip : 여러 리스트를 짝지어서 사용
food = ['커피','케익','바나나']
price = [5000,30000,10000]
likes = [8, 7, 10] #메뉴 선호도

In [192]:
for a in zip(food, price):
  print(a)

('커피', 5000)
('케익', 30000)
('바나나', 10000)

In [193]:
menu = {}
for a in zip(food, price):
  menu[a[0]]=a[1]
menu

{'커피': 5000, '케익': 30000, '바나나': 10000}

In [194]:
menu = {}
for k, v in zip(food, price):
  menu[k]=v
menu

{'커피': 5000, '케익': 30000, '바나나': 10000}

In [199]:
for k, *v in zip(food, price, likes):
  print(a)

('바나나', 10000, 10)
('바나나', 10000, 10)
('바나나', 10000, 10)

In [200]:
#dictionary comprehension

In [203]:
food = ['커피','케익','바나나']
price = [5000,30000,10000]
dict_comp = { k:v  for k, v in zip(food, price)      }
dict_comp

{'커피': 5000, '케익': 30000, '바나나': 10000}

In [246]:
#딕셔너리 컴프리헨션 문제
#{사람:2, 자전가:3}
# a_list = ['사람', '자전거']

a_list = ['사람', '자전거']

b_list = []


for i in a_list:
  b_list.append(len(i))


dict_comp = { k:v  for k, v in zip(a_list, b_list)      }
dict_comp

{'사람': 2, '자전거': 3}

In [247]:
# Class
# Cafe class
# 속성
# -메뉴
# -주소
# -사장
# -직원

#기능
#-커피 만들기
#-주문 받기
#-먹고 가기/테이크아웃 선택
#-주문확인

In [248]:
class Cafe:
  address = '서울시 서초구 서초동'
  menu = {'커피':4500,
          '라떼':5000}
  owner = '여러분'

  def makeCoffee(self):
    print('커피 만들기')
    print('커피 완성')
  def getOrder(self):
    print('주문하세요')
    print('감사합니다')

In [249]:
Cafe.address

'서울시 서초구 서초동'

In [250]:
cafe_1 = Cafe()

In [251]:
cafe_1

In [252]:
cafe_1.makeCoffee()

커피 만들기
커피 완성

In [253]:
cafe_1.getOrder()

주문하세요
감사합니다

In [254]:
cafe_2 = Cafe()

In [255]:
cafe_2

In [262]:
#class의 생성자 사용법
class Cafe:
  def __init__(self, address, menu, owner):
    print('상권 분석')
    print('직원 모집')
    print('기타 등등')
    self.address = address
    self.menu = menu
    self.owner = owner
  def makeCoffee(self):
    print('커피 만들기')
    print('커피 완성')
  def getOrder(self):
    print('주문하세요')
    print('감사합니다')

In [263]:
cafe_3 = Cafe(address="서초구 서초동 어딘가", menu=['커피'], owner='재호')

상권 분석
직원 모집
기타 등등

In [266]:
cafe_3.address

'서초구 서초동 어딘가'

In [267]:
cafe_3.menu, cafe_3.owner

(['커피'], '재호')

In [ ]:
#스타벅스 키오스크 만들기
#클래스 관점으로 발전
#속성, 기능을 클래스에 담기
#스타벅스 키오스크 프로그램 회사를 만들어서 전세계 스타벅스에 납품