<a href="https://colab.research.google.com/github/datajcthemax/playdata/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#continue 의 사용법

In [ ]:
#항공사 직원
while True:
  answer = input("탑승권 가져오셨어요?")
  if answer == "y":
    print("F-1번에서 탑승하시면 됩니다")
  elif answer =='n':
    print("가져 오셔야합니다")
    break
  else:
    continue
  print("저희 항공사는 여러분의 편의를 위해서...")
  break

print("다음 고객 오세요")

탑승권 가져오셨어요?n
가져 오셔야합니다
다음 고객 오세요

In [ ]:
#중첩 리스트, 딕셔너리

In [ ]:
#중첩 리스트: 리스트 안에 리스트 -> AI 행렬
a = [
    ['커피', '쥬스'], #음료
    ['초코', '치즈'], #케이크
]

In [ ]:
#딕셔너리

b = {
    '음료':['커피','쥬스'],
    '케이크':['초코', '치즈'],
     
}

In [ ]:
total_price = 0
total_menu = {}
menu = {
    'drink' : {
        '아메리카노': 4500,
        '라떼': 5000,
        '밀크티': 5500
    },
    'food' : {
        '케이크' : 5000, '샌드위치' : 2500
    }
}


def choose_menu():
    basket_price = 0
    while True:
        print(menu)
        order = input("메뉴를 골라주세요: ")
        if order in menu['drink']:
            while True:
                hot_or_ice = input("HOT(따뜻한 음료) 또는 ICE(차가운 음료) 중에서 선택해주세요: ")
                print("ICE는 500원이 추가됩니다.")
                if hot_or_ice == 'HOT':
                    price = menu['drink'][order]
                    break
                elif hot_or_ice == 'ICE':
                    price = menu['drink'][order] + 500
                    break
                else:
                    print("잘못된 입력입니다. 다시 선택해주세요.")
        elif order in menu['food']:
            price = menu['food'][order]
            hot_or_ice = None  # 음식에는 HOT/ICE가 없으므로 None으로 초기화합니다.
        else:
            print("잘못된 입력입니다. 다시 선택해주세요.")
            continue
        print(f"주문하신 메뉴는 {order}이고 가격은 {price}원입니다.")
        count = int(input("얼마나 주문하시겠습니까?: "))
        ans = input(f"{order}를 {count}개 주문하시겠습니까? (Y/N)")
        if ans == 'Y' or ans == 'y':
            if hot_or_ice is not None:  # 음료인 경우에만 hot_or_ice를 저장합니다.
                total_menu[(order, hot_or_ice)] = total_menu.get((order, hot_or_ice), 0) + count
            else:
                total_menu[order] = total_menu.get(order, 0) + count
            basket_price += (price * count)
            print(f"{order}가 {count}개 장바구니에 추가되었습니다.")
            print(f"누적 금액은 {basket_price}원입니다.")
        ans2 = input("추가 주문 하시겠습니까? (Y/N): ")
        if ans2 == 'N' or ans2 == 'n':
            break
    return basket_price
total_price += choose_menu()

def select_menu():
    global total_price, total_menu
    
    print("현재 주문하신 메뉴는 다음과 같습니다:")
    for key, value in total_menu.items():
        if type(key) == tuple:
            print(f"{key[0]} ({key[1]}) : {value}개")
        else:
            print(f"{key} : {value}개")
    print(f"총 주문 금액은 {total_price}원입니다.")
    
    while True:
        #print(total_menu.keys())
        menu_to_delete_type = input("삭제하실 메뉴 종류를 입력해주세요. ex) drink or food. 취소하시려면 0을 입력하세요 : ")

        #메뉴취소
        if menu_to_delete_type == '0':
            break

        elif menu_to_delete_type == 'drink':
            menu_to_delete = input("삭제할 메뉴를 입력하세요 (음식명, HOT/ICE). 이전 단계로 돌아가려면 0을 입력하세요 : ")
            if menu_to_delete == 0:
                continue
            #드링크류는 HOT/ICE 때문에 값을 튜플로 받아야함
            else:
                menu_to_delete = tuple(menu_to_delete.split(", "))
            
        elif menu_to_delete_type == 'food':
            menu_to_delete = input("삭제할 메뉴를 입력하세요. 이전 단계로 돌아가려면 0을 입력하세요 : ")
            if menu_to_delete == 0:
                continue

        else:
            print("잘못입력 하셨습니다. 다시 시도해 주세요")
            continue
        
        #잘못된 값
        if menu_to_delete not in total_menu.keys():
            print("잘못된 입력입니다. 다시 입력해주세요.")
            continue
        #올바른 값
        else:
            count_to_delete = int(input(f"{menu_to_delete}를 몇 개 삭제하시겠습니까?: "))
            #너무 많이 삭제
            if count_to_delete > total_menu[menu_to_delete]:
                print("삭제할 수 있는 개수보다 많습니다. 다시 입력해주세요.")
                continue
            #전부 삭제
            elif count_to_delete == total_menu[menu_to_delete]:
                total_menu.pop(menu_to_delete)
                #금액 제거
                if menu_to_delete in menu['drink']:
                    if menu_to_delete in menu['ice'].keys():
                        total_price -= (menu['drink'][menu_to_delete] + 500) * count_to_delete
                    else:
                        total_price -= menu['drink'][menu_to_delete] * count_to_delete
                elif menu_to_delete in menu['food']:
                    total_price -= menu['food'][menu_to_delete] * count_to_delete
            #일부분 삭제
            else:
                if isinstance(menu_to_delete, tuple):
                    total_menu[menu_to_delete] -= count_to_delete
                else:
                    total_menu[menu_to_delete] -= count_to_delete

                if menu_to_delete in menu['drink']:
                    if menu_to_delete in menu['ice'].keys():
                        total_price -= (menu['drink'][menu_to_delete] + 500) * count_to_delete
                    else:
                        total_price -= menu['drink'][menu_to_delete] * count_to_delete
                elif menu_to_delete in menu['food']:
                    total_price -= menu['food'][menu_to_delete] * count_to_delete
            print(f"{menu_to_delete} {count_to_delete}개를 장바구니에서 삭제하였습니다.")
            print(f"현재 금액은 {total_price}원입니다.")
select_menu()
print(f"최종 주문하신 메뉴는 {total_menu}입니다.")
print(f"총 주문 금액은 {total_price}원입니다.")

while True:
    money = int(input("지불하실 금액을 입력해주세요 : "))
    if total_price == money:
        print("이용해 주셔서 감사합니다.")
        break
    elif total_price < money:
        print("이용해 주셔서 감사합니다.")
        print(f"잔돈 : {money - total_price}")
    elif total_price > money:
        print(f"남은 금액 : {total_price - money}")
        total_price -= money

        
#메뉴를 음료와 음식으로 구분하여 보여준 후 
#음료의 경우는 HOT/ICE 조건이 있어 값을 장바구니 딕셔너리의 키 값을 튜플로 저장합니다.
#while 문을 활용하여 만족할때 까지 주문 받습니다.
#장바구니에서 원하지 않는 메뉴 삭제합니다.
#현재 주문중인 메뉴를 보여줍니다.
#최종 주문 확정인 메뉴를 보여줍니다
#금액을 보여준 후 계산을 합니다.
##저장되는 딕셔너리에 값이 복잡하고 일관성이 떨어져 활용하기 어렵다는 단점이 있습니다.

{'drink': {'아메리카노': 4500, '라떼': 5000, '밀크티': 5500}, 'food': {'케이크': 5000, '샌드위치': 2500}}
메뉴를 골라주세요: 아메리카노
HOT(따뜻한 음료) 또는 ICE(차가운 음료) 중에서 선택해주세요: ICE
ICE는 500원이 추가됩니다.
주문하신 메뉴는 아메리카노이고 가격은 5000원입니다.
얼마나 주문하시겠습니까?: 2
아메리카노를 2개 주문하시겠습니까? (Y/N)Y
아메리카노가 2개 장바구니에 추가되었습니다.
누적 금액은 10000원입니다.
추가 주문 하시겠습니까? (Y/N): Y
{'drink': {'아메리카노': 4500, '라떼': 5000, '밀크티': 5500}, 'food': {'케이크': 5000, '샌드위치': 2500}}
메뉴를 골라주세요: 케이크
주문하신 메뉴는 케이크이고 가격은 5000원입니다.
얼마나 주문하시겠습니까?: 1
케이크를 1개 주문하시겠습니까? (Y/N)Y
케이크가 1개 장바구니에 추가되었습니다.
누적 금액은 15000원입니다.
추가 주문 하시겠습니까? (Y/N): N
현재 주문하신 메뉴는 다음과 같습니다:
아메리카노 (ICE) : 2개
케이크 : 1개
총 주문 금액은 15000원입니다.
삭제하실 메뉴 종류를 입력해주세요. ex) drink or food. 취소하시려면 0을 입력하세요 : 0
최종 주문하신 메뉴는 {('아메리카노', 'ICE'): 2, '케이크': 1}입니다.
총 주문 금액은 15000원입니다.
지불하실 금액을 입력해주세요 : 15000
이용해 주셔서 감사합니다.

In [ ]:
# 두 수를 입력받아 사칙연산을 하는 계산기 프로그램
# def 함수명(매개변수):
#   프로그램
#   return 결과값

In [ ]:
# 덧셈연산 함수
def plus(a,b):
  a = int(a)
  b = int(b)
  result = a + b
  return result

In [ ]:
num1 = int(input("첫번째 수:"))
num2 = int(input("두번째 수:"))

#함수 호출
#함수명(매개변수)

plus(num1,num2)

첫번째 수:2
두번째 수:3

5

In [ ]:
type(a)

str

In [ ]:
ret = plus(a=num1, b=num2)
print(ret)

5

In [ ]:
#업그레이드 버젼-키오스크
#1. 주문만 받기
def get_order(): 
  order = input("what do you want?")
  order_list = [order]
  return order_list

In [ ]:
order_1 =get_order()

what do you want?burger

In [ ]:
order_1

['burger']

In [ ]:
#2. 주문 + 수량
def get_order_amount():
  order = input("what do you want?")
  amount = int(input("how many?"))
  order_list = {order:amount}
  return order_list

In [ ]:
get_order()

what do you want?burger

['burger']

In [ ]:
get_order_amount()

what do you want?burger
how many?3

{'burger': 3}

In [ ]:
# 3. 메뉴 정보를 외부에서 받아서 주문 받는 함수
def get_order_with_menu(menu): #menu는 리스트
  for m in menu:
    print(m)
  order = input("what do you want?")
  amount = int(input("how many?"))
  order_list = {order:amount}
  return order_list

In [ ]:
many_menu = ['coffee', '밥', '케이크']
order_12=get_order_with_menu(many_menu)

coffee
what do you want?비스켓
how many?2

In [ ]:
order_12

{'비스켓': 2}

In [ ]:
#subtraction function
def subtraction():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a-b
  return result

In [ ]:
subtraction()

first number:2
second number:3

-1

In [ ]:
#multiplication function
def multiplication():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a*b
  return result

In [ ]:
multiplication()

first number:3
second number:4

12

In [ ]:
#division function
def division():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a/b
  return result

In [ ]:
division()

first number:6
second number:5

1.2

In [ ]:
#몫 function
def 몫():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a//b
  return result

In [ ]:
몫()

first number:2
second number:4

0

In [ ]:
몫()

first number:18
second number:2

9

In [ ]:
#remainder function
def remainder():
  a = int(input("first number:"))
  b = int(input("second number:"))
  result = a%b
  return result

In [ ]:
remainder()

first number:4
second number:3

1

In [ ]:
def cal(y,a,b):
    if y == '+':
        print(a+b)
    elif y == '-':
        print(a-b)
    elif y == '*':
        print(a*b)
    elif y == '/':
        print(a/b)
    else:
        print('연산식을 넣으시오')
a = int(input('숫자를 넣으시오'))
b = int(input('숫자를 넣으시오'))
exp = input('''
연산식을 넣으시오
연산식은 '*','-','+','/'만 가능합니다
''')
cal(exp,a,b)

숫자를 넣으시오7
숫자를 넣으시오5

연산식을 넣으시오
연산식은 '*','-','+','/'만 가능합니다
+
12

In [ ]:
menu = {'burger':3000, 'salad':2000, 'chicken': 5000}
def get_order_amount():
  order = input("what do you want?")
  amount = int(input("how many?"))
  order_list = {order:amount}
  print(f"{order_list}")
  order_price = menu[order] * amount
  return order_price

In [ ]:
get_order_amount()

what do you want?burger
how many?2
{'burger': 2}

6000

In [58]:
#1 매개변수에 기본값을 주는 경우 default parameter

In [59]:
def func(a=1,b=2):
  ret = a + b
  return ret

In [63]:
func()

TypeError: ignored

In [64]:
def cafe(order = '커피'):
  print('주문하신', order, '가 나왔습니다.')

In [66]:
cafe('라떼')

주문하신 라떼 가 나왔습니다.

In [77]:
#2. 무제한 인자 받기
def test(*args):
  print(args)
  print(type(args))

In [78]:
test(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>

In [79]:
def test1(*args):
  for a in args:
    print(a)

In [81]:
test1(1,2,3)

1
2
3

In [82]:
a=[1,2,3,4,]
test1(a)

[1, 2, 3, 4]

In [83]:
test1(*a)#test1(1,2,3,4)

1
2
3
4

In [87]:
#3. 일부분 무제한 인자 받기
def test2(a, *args):
  print(a,"의 메뉴를 보여드립니다")
  for i in args:
    print(i)

In [88]:
menu = ['coffee','tea']
cafe_name = '스타벅스_서초점'

test2(cafe_name, *menu)

스타벅스_서초점 의 메뉴를 보여드립니다
coffee
tea

In [89]:
#4. 무제한 인자받기, dictionary
def test3(**args):
  print(type(args))
  print(args)

In [90]:
test3(1,2)

TypeError: ignored

In [91]:
test3(a=1,b=2)

<class 'dict'>
{'a': 1, 'b': 2}

In [92]:
d = {'coffee':4500, 'cake':12000}
test3(d)

TypeError: ignored

In [93]:
test3(**d)

<class 'dict'>
{'coffee': 4500, 'cake': 12000}

In [105]:
#한국 스타벅스 메뉴에 피자 20000 치킨 30000

In [107]:
kor_menu = {'coffee':5000, 'cake':40000}

def add_menu(**args):
  #들어온 여러 메뉴 추가 정보를 하나씩 빼면서 
  for k, v in args.items(): #args.keys(), args.values()
  #기존 메뉴에 넣기
  #dic[key] = value
    kor_menu[k] = v

In [109]:
add_menu(피자=20000, 치킨=30000)

In [110]:
kor_menu

{'coffee': 5000, 'cake': 40000, '피자': 20000, '치킨': 30000}