<a href="https://colab.research.google.com/github/datajcthemax/playdata/blob/main/Day7sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DB연결변경

입력,조회,수정,삭제 프로그램 완성


Subquery, join, Function 공부

MYSQL 접속정보
192.168.90.119

port 3306

id : myname

pw : 1234

자기만의 테이블 만들기 CREATE TABLE lotto_numbers_자기이름 ( roundNum INT NOT NULL, num1 INT NOT NULL, num2 INT NOT NULL, num3 INT NOT NULL, num4 INT NOT NULL, num5 INT NOT NULL, num6 INT NOT NULL, bonus INT NOT NULL, PRIMARY KEY (roundNum) )

In [ ]:
import requests
import json




#get api



results = []

for i in range(1, 3): #change the max number to 1062 later
    url = f'https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo={i}'
    response = requests.get(url)
    json_data = response.json()
    
    # Extract relevant information
    draw_number = json_data['drwNo']
    winning_numbers = [json_data[f'drwtNo{i}'] for i in range(1, 7)]
    bonus_number = json_data['bnusNo']
    
    # Append to results list
    results.append({
        'draw_number': draw_number,
        'winning_numbers': winning_numbers,
        'bonus_number': bonus_number
    })

print(results)

ModuleNotFoundError: ignored

In [ ]:
import mysql.connector

# Connect to the database
cnx = mysql.connector.connect(
  host="host",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Prepare the INSERT statement
insert_stmt = ("INSERT INTO lottery_results "
               "(draw_number, winning_number_1, winning_number_2, winning_number_3, winning_number_4, winning_number_5, winning_number_6, bonus_number) "
               "VALUES (%s, %s, %s, %s, %s, %s, %s, %s)")

# Insert the results into the table
cursor = cnx.cursor()
for result in results:
    draw_number = result['draw_number']
    winning_numbers = result['winning_numbers']
    bonus_number = result['bonus_number']
    
    data = (draw_number, *winning_numbers, bonus_number)
    cursor.execute(insert_stmt, data)

# Commit changes and close connection
cnx.commit()
cursor.close()
cnx.close()

ModuleNotFoundError: ignored